<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Eryn Monestero Portfolio</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <nav class="navbar navbar-expand-lg bg-dark">
        <a class="navbar-brand" href="#">ERYN MONESTERO</a>
        
    </nav>
    <div>
        <div class="jumbotron message-sent-box">
  <h1 class="display-4">Message Sent!</h1>
  <p class="lead">Thank you for your interest</p>
  <hr class="my-4">
  <p><span class="orange">S</span>olving problems one function at a time</p>
  <a class="btn btn-outline-warning btn-lg btn-dark message-sent-btn" href="/" role="button">Back To Main Page</a>
</div>
    </div>



    <script src="/public/js/main.js"></script>
</body>

</html>